<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/template}">
<head>

</head>
<body>
<div layout:fragment="content">
    <div class="col-lg-12 mt-lg-0 mt-4">
        <div class="card mt-4" id="basic-info">
            <div class="card-header">
                <h5>Crear Usuario</h5>
            </div>
            <div class="card-body pt-0">
                <div class="row">
                    <div class="col-sm-12 col-lg-4">
                        <div class="input-group input-group-static">
                            <label>Nombre</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="input-group input-group-static">
                            <label>Apellido</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="input-group input-group-static">
                            <label>Username</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">

                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <label class="form-label mt-4 ms-0">Rol</label>
                        <select class="form-control" name="choices-role" id="choices-role">
                            <option th:each="rol : ${roles}" th:value="${rol.id}" th:text="${rol.showName}"></option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <label class="form-label mt-4 ms-0">Sexo</label>
                        <select class="form-control" name="choices-gender" id="choices-gender">
                            <option value="Male">Masculino</option>
                            <option value="Female">Femenino</option>
                        </select>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="row">
                            <div class="col-5 col-lg-5">
                                <label class="form-label mt-4 ms-0">Fecha de Nacimiento</label>
                                <select class="form-control" name="choices-day" id="choices-day"></select>
                            </div>
                            <div class="col-4 col-lg-4">
                                <label class="form-label mt-4 ms-0">&nbsp;</label>
                                <select class="form-control" name="choices-month" id="choices-month"></select>
                            </div>
                            <div class=" col-3 col-lg-3">
                                <label class="form-label mt-4 ms-0">&nbsp;</label>
                                <select class="form-control" name="choices-year" id="choices-year"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-6">
                        <div class="input-group input-group-static">
                            <label>Número Télefonico</label>
                            <input type="number" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group input-group-static">
                            <label>Email</label>
                            <input type="email" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-6">
                        <div class="input-group input-group-static">
                            <label>Contraseña</label>
                            <input type="password" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group input-group-static">
                            <label>Confirmar Contraseña</label>
                            <input type="password" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div layout:fragment="js">

    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

    <script>
        if (document.getElementById('choices-gender')) {
            var gender = document.getElementById('choices-gender');
            const example = new Choices(gender);
        }

        if (document.getElementById('choices-role')) {
            var role = document.getElementById('choices-role');
            const example = new Choices(role);
        }

        if (document.getElementById('choices-language')) {
            var language = document.getElementById('choices-language');
            const example = new Choices(language);
        }

        if (document.getElementById('choices-skills')) {
            var skills = document.getElementById('choices-skills');
            const example = new Choices(skills, {
                delimiter: ',',
                editItems: true,
                maxItemCount: 5,
                removeItemButton: true,
                addItems: true
            });
        }

        // Obtener referencias a los elementos select
        var diaSelect = document.getElementById("choices-day");
        var mesSelect = document.getElementById("choices-month");
        var anioSelect = document.getElementById("choices-year");

        // Cargar opciones para el año (100 años hacia atrás)
        var fechaActual = new Date();
        var anioActual = fechaActual.getFullYear();
        for (var i = anioActual; i >= anioActual - 100; i--) {
            var option = document.createElement("option");
            option.text = i;
            anioSelect.add(option);
        }

        // Cargar opciones para el mes (nombres)
        var nombresMeses = [
            "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];

        for (var i = 0; i < nombresMeses.length; i++) {
            var option = document.createElement("option");
            option.value = i + 1;
            option.text = nombresMeses[i];
            mesSelect.add(option);
        }

        for (var i = 1; i <= 31; i++) {
            var option = document.createElement("option");
            option.value = i;
            option.text = i + ""
            diaSelect.add(option)
        }

        // Establecer la fecha de nacimiento inicial en "1 de enero de un año anterior al actual"
        mesSelect.value = 1;
        anioSelect.value = anioActual - 1;

        new Choices(diaSelect, {position: 'bottom'})
        new Choices(mesSelect, {shouldSort: false, position: 'bottom'})
        new Choices(anioSelect, {shouldSort: false, position: 'bottom'})

    </script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
</div>

</body>
</html>
</body>
</html>